.mainWrapper{
    background-color: #CCCAD0;
    min-height: 300px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10%;
    border-radius:5px;
    overflow:hidden;
    float:left;
    width:35%;
}

.categoryWrapper{
    background-color: #E9ECEF;
    min-height: 300px !important;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}

.userDetails{
    overflow: hidden;
    margin: 18% 3% 1% 3%;
}

.lineSeperator{
    border-width: 2px;
    border-color: #E1E5E9;
}

.taskCounter{
    border-radius: 50px ;
    background-color: #B5BEC6 ;
}

.categoryList{
    padding: 0;
    list-style : none ;
}

.categoryItem{
    cursor: pointer;
    color: grey;
    margin-top: 10px;

}

.categoryItem a{
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

.categoryItem a:hover{
    color: black;
    text-decoration: none;
}

.categoryItem li:hover{
  color: black;
}

.categoryFooter{
    position: absolute;
    bottom: 10px;
}

.taskWrapper{
    background-color: ##E9ECEF;
    min-height: 300px !important;

}

.taskBtns{
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background-color: #ECEFF4;

}
.addBtnColor {
    background-color: green;
}
.delBtnColor {
    background-color: red;
}
table.test td {
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}
table.test {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

.taskBtns > *{
    margin: 10px;
}

.taskList{
}

.taskItem{
    text-decoration: none;
    color: grey;
    overflow: hidden;
    padding: 10px;
}
body {
    padding-top: 54px;
}
@media (min-width: 992px) {
body {
    padding-top: 56px;
}
}
.category-list {
    height: 350px;
    border:1px solid black;
    background: white;
}
.category-content {
    height: 350px;
    border:1px solid black;
    background: white;
}
.grey {
    background: #E6E2EB;
    margin-top:40px;
}
.small-size {
    height: 75px;
}

.small-padding {
    padding:15px;
}

.catagories {
    list-style: none;
}

.catagories li a:hover {
    color:#009EA9
}

.catagories li a:active {
    color:#7952B3;
}

/*Code for popup*/
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
/* Inner */
.popup-inner {
    max-width:487px;
    width:90%;
    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#E9ECEF;
}
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
  /*End code for Popup*/
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.bottom-div {
    font-size:36px;
    font-weight: bold;
    padding:20px;
    float:right;
}

.bottom-div a {
    text-decoration: none;
}

table.test
{
    border-collapse: separate;
    border-spacing: 10px;
}

table.test td
{
    padding-right: 113px;
    border: 1px solid black;
}

